{% extends 'blog/base.html' %}
{% block title_block %}
    Мои действия
{% endblock %}
{% block body_block %}
		Последние понравившиеся страницы: <br>
		{% if pages %}
			{% for page in pages %}
	            <strong>Название:</strong> {{ page.title }} - <strong>Автор:</strong> {{ page.author }}<br>
	                {{ page.content }}<a href="{% url 'show_page' page.id %}"> Читать далее</a><br>        
			{% endfor %}
		{% else %}
		    У вас еще нет закладок. Вернуться на  <a href="{% url 'index' %}">главную</a>
		{% endif %}	

		<br><hr><br>

		Последние страницы добавленные в избранное: <br>
		{% if favorite_pages %}
			{% for page in favorite_pages %}
	            <strong>Название:</strong> {{ page.title }} - <strong>Автор:</strong> {{ page.author }}<br>
	                {{ page.content }}<a href="{% url 'show_page' page.id %}"> Читать далее</a><b>        
			{% endfor %}
		{% else %}
		     У вас еще нет избранных страниц. Вернуться на  <a href="{% url 'index' %}">главную</a>
		{% endif %}	

{% endblock %}