{% extends 'blog/base.html' %}
{% block title_block %}
    - List Categories
{% endblock %}
{% block body_block %}
    <div class="blog-post">
        {% if categories %}
            {% for category  in categories %}
                <a href="{% url 'show_category' category.slug  %}"><li><strong>{{ category.name }}</strong></li></a>
                {% if pages %}
                        {% for page in pages %}
                            {% if page.category == category %}
                                {{ page.title }} - {{ page.author }}<br>
                            {% endif %}
                        {% endfor %} <hr>
                {% endif %}
                </ul>
            {% endfor %}
        {% else %}
            Something wrong
        {% endif %}
    </div><!-- /.blog-post -->
{% endblock %}