{% extends 'blog/base.html' %}
{% block title_block %}
    Home
{% endblock %}
{% block body_block %}
    <div class="blog-post">
        <h3>Most popular categories(if you wanna see more click  <a href="{% url 'categories_list' %}">here</a>)</h3>
    <hr>
        {% if categories %}
            {% for category  in categories %}
                <a href="{% url 'show_category' category.slug  %}"><li><strong>{{ category.name }}</strong></li></a><br>
                {% if pages %}
                        {% for page in pages %}
                            {% if page.category == category %}
                                <a href="{% url 'show_page' page.id %}">{{ page.title }} - {{ page.author }}</a><br>
                            {% endif %}
                        {% endfor %} <hr>
                {% endif %}
                </ul>
            {% endfor %}
        {% else %}
            Something wrong
        {% endif %}
    </div><!-- /.blog-post -->
  <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul>
{% endblock %}