{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title_block %}
    {{ userprofile.username }}
{% endblock %}
{% block body_block %}
<h1>{{userprofile.username}}</h1>
   {% if userprofile.picture %}
        <img src="{{MEDIA_URL}}{{userprofile.picture }}"  width="200" height="200"
             alt="{{userprofile.username}}" title="avatar"/>
   {% else %}
            {% if userprofile.gender == "M" %}
                 <img width="200" height="200" src="{% static 'images/male.jpg' %}"
    alt="{{userprofile.username}}" title="avatar"/>
            {% else %}
                <img width="200" height="200" src="{% static 'images/female.jpg' %}"
    alt="{{userprofile.username}}" title="avatar"/>
            {% endif %}
   {% endif %}<br>
    <div>
    {% if userprofile.username == userprofile.username %}<br><br>
        <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
         <input type="submit" value="Update" />
        </form>
    {% endif %}
    </div>
<div id="edit_profile"></div>
{% endblock %}