{% extends 'blog/base.html' %}
{% block title_block %}
    Мои заметки
{% endblock %}
{% block body_block %}
    <strong>Все пользователи  блога:</strong><br><br>
    {% if users%}
	    {% for user,page,subscribe in users %}
	    	
	    	{% if user.username != me  %}
	    		<div>
	    			<div class="container"></div>
	    			<hr>
		    			<div class="col-sm-2">
		    					{{ user.username }}<br>
		    				    <a href="{% url 'person_profile' user.id %}" alt="{{user.id}}"><img src="{{MEDIA_URL}}{{user.picture}}"  width="80" height="80"
	                          alt="{{user.picture}}" title="avatar"/></a> 
		    			</div>
		    			<div class="col-sm-6">
		    				<br>
		    				Написанных статей: {{ user.total_pages }} <br>
		    				{% if user.total_pages > 0%}
		    				
                                    Топовая: <strong>Название:</strong> {{ page.title }}  Лайков:{{page.total_likes}}
                                       <br>
                                            <p id="wrap_text" >{{  page.content }}
                                                (<a href="{% url 'show_page' page.id %}">Читать далее</a>)</p>
		    				{% endif %}
		    			</div>
		    			<div class="col-sm-4">
		    					<br><br>
		    				    {% if subscribe == 1 %}
									<a href="{% url 'subscribe' user.id %}" alt="{{user.id}}"><strong>Отписаться
									</strong></a>
								{% else %}
									<a href="{% url 'subscribe' user.id %}" alt="{{user.id}}"><strong>Подписаться
									</strong></a>
								{% endif %}
		    			</div>
	    		</div>
	    		<hr>
	    	{% endif %} 
	    {% endfor %} <br><br>
    {% endif %}
{% endblock %}