{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title_block %}
    - Show Note
{% endblock %}
{% block body_block %}
    <h1>{{ page.title }}
    {% if page.favorite == False %}
        <a href="{% url 'favorite' page.id %}"><img src="{% static 'images/false.png'  %}" alt="false_star" width="20px" height="20px"></a>
    {% else %}
        <a href="{% url 'favorite' page.id %}"><img src="{% static 'images/true.png'  %}" alt="true_star" width="20px" height="20px"></a>
    {% endif %}
    {% if page.views == False %}
        <a href="{% url 'watched_page' page.id %}"><img src="{% static 'images/unwatch.png'  %}" alt="false_star" width="20px" height="20px"></a>
    {% else %}
        <a href="{% url 'watched_page' page.id %}"><img src="{% static 'images/watch.png'  %}" alt="true_star" width="20px" height="20px"></a>
    {% endif %}<br></h1>

    <strong>Author:</strong> {{ page.author }} <hr>
    <strong>Date publish:</strong>{{ page.date_print }} <hr>
    <strong>Content:</strong><p id="wrap_text" >{{  page.content }}   <br></p>
     <h1>Test</h1>
{% endblock %}