{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title_block %}
    - Show Note
{% endblock %}
{% block body_block %}
    <h1>{{ page.title }}</h1>
    <strong>Author:</strong> {{ page.author }} <hr>
    <strong>Date publish:</strong>{{ page.date_print }} <hr>
    <p id="wrap_text" >{{  page.content }}   <br></p>
    <br><br><br><br><br>
    {% if user.is_authenticated %}
        <h2>Comments</h2>
        <div>
            <h1>Add comment</h1>
            <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
            </form>
        </div><br><hr><br>
    {% else %}
        <a  href="{% url 'registration_register' %}">Register</a>
        or <a  href="{% url 'auth_login' %}">login</a>
        to add your  comment <br><hr><br>
    {% endif %}
    {% for comment in comments %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <strong >{{ comment.author }}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <img src="{{MEDIA_URL}}{{comment.avatar}}"  width="80" height="80"
                          alt="{{comment.avatar}}" title="avatar"/>
                    </div>
                    <div  class="col-sm-6">
                         <strong>{{ comment.date_print }}</strong>
                         <p id="wrap_text">{{ comment.content }}</p>
                    </div>
                    <div  class="col-sm-4">
                        {% if owner %}
                             <a href="{% url 'delete_comment' comment.id %}"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
                        {% elif comment.author == user.username %}
                            <a href="{% url 'edit_comment' comment.id %}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
                            <a href="{% url 'delete_comment' comment.id %}"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div><br><hr><br>
    {% endfor %}
    {% if page.author == user.username %}
        <a href="{% url 'edit_page' page.id %}"><i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i></a>
        <a href="{% url 'delete_page' page.id %}"><i class="fa fa-trash fa-3x"  aria-hidden="true"></i></a>
    {% endif %}

{% endblock %}