{% extends 'blog/base.html' %}
{% block title_block %}
    - {{ category.slug }}
{% endblock %}
{% block body_block%}
    {% if category %}
        <strong><h1>Категория:{{ category.name }}</h1></strong>
        {% if pages %}
            {% for page in pages %}
                    <strong>Название:</strong> {{ page.title }} - <strong>Автор:</strong> {{ page.author }}<br>
                                   {{ page.content }}(<a href="{% url 'show_page' page.id %}">Читать далее</a>)<br>
            {% endfor %}
        {% else %}
            В этой категории нет заметок<br>
            Но можно быть <strong>первым</strong><br>
            Кнопка для добавления снизу;)
        {% endif %}
    {% else %}
        Нет страниц
    {% endif %}
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    {% if  user.is_authenticated %}
        <a href="{%  url 'add_page' category.slug %}"><strong><i class="fa fa-file fa-3x" aria-hidden="true"></i></strong></a>
    {% else %}
        Только зарегистрированные пользователи могут добавлять страницы и комментировать их.
        Для регистрации нажмите <a href="{% url 'registration_register' %}">сюда</a>
    {% endif %}
{% endblock %}