{% extends "blog/base.html" %}
{% block body_block %}
<link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css"
rel="stylesheet">

<div class="jumbotron">
<h1 class="display-3">Войти в аккаунт</h1>
</div>
    <form class="form-signin" role="form" method="post" action=".">
    {% csrf_token %}
    <h2 class="form-signin-heading">Данные для входа</h2>
    <label for="inputUsername" class="sr-only">Имя</label>
    <input type="text" name="username" id="id_username" class="form-control"
    placeholder="Имя" required autofocus>
    <label for="inputPassword" class="sr-only">Пароль</label>
    <input type="password" name="password" id="id_password" class="form-control"
    placeholder="Пароль" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit"
    value="Submit" />Войти</button>
    </form>
    or
    <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>
</div>
{% endblock %}